/* Media Queries */
@media (max-width: 612px) {
  iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  iframe {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 374px) {
  iframe {
    width: 300px;
    height: 250px;
  }
}
